<!DOCTYPE html>
<html>
<head>
    <title>Overview</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.min.css') }}">

    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='ecStat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
            <h1>Linux Kernel Top60 维护者概览</h1>
            {% for metric_name in metric_names %}
                <div class="row">

                    <div  class="col-sm-6">
                        <div id="{{ metric_name }}_median" style="width: 100%;height: 25vw;">
                        </div>
                    </div>

                    <div  class="col-sm-6">
                        <div id="{{ metric_name }}_mean" style="width: 100%;height:25vw;">
                        </div>
                    </div>

                </div>
            {% endfor %}
            </div>
            <div class="col-sm-3"  style="margin-top:100px;">
                <div class="ui-widget">
                  <label for="module">Search: </label>
                  <input id="module_search" />
                  <input type="button" value="Go" onclick="window.location.href='/module/' + $('#module_search').val()" />
                </div>
                <a href="{{url_for('list_modules')}}">所有模块</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    {% for metric_name in metric_names %}
    {% for type in ['median', 'mean'] %}

        var {{metric_name}}_{{type}}_chart = echarts.init(document.getElementById('{{metric_name}}_{{type}}'));

        var xs = {{ metrics[metric_name][type]['data']['x'] }}
        var ys ={{ metrics[metric_name][type]['data']['y'] }}

        var data = xs.map(function(e, i) {
          return [e - xs[0], ys[i]];
        });

        var {{metric_name}}_{{type}}_myRegression = ecStat.regression('linear', data);

        {{metric_name}}_{{type}}_myRegression.points.sort(function(a, b) {
            return a[0] - b[0];
        });


        // 指定图表的配置项和数据
        var {{metric_name}}_{{type}}_option = {
            title: {
                text: '{{metric_labels[metric_name]}} {{type_labels[type]}}'
            },
            tooltip: {},
            // legend: {
            //     data:['{{metric_labels[metric_name]}} {{type_labels[type]}}']
            // },
            xAxis: {
                data: xs
            },
            yAxis: {},
            series: [
                {
                    name: '{{metric_labels[metric_name]}} {{type_labels[type]}}',
                    type: 'bar',
                    data: ys
                },{
                    name: '{{metric_labels[metric_name]}} {{type_labels[type]}} line',
                    type: 'line',
                    data: {{metric_name}}_{{type}}_myRegression.points,
                    markPoint: {
                        itemStyle: {
                            normal: {
                                color: 'transparent'
                            }
                        },
                        label: {
                            normal: {
                                fontWeight: 'bold',
                                show: true,
                                position: 'left',
                                formatter: "slope: {{'%0.2f'|format(metrics[metric_name][type]['stat']['slope'])}} p-value: {{'%0.3f'|format(metrics[metric_name][type]['stat']['p-value'])}}",
                                textStyle: {
                                    color: '#333',
                                    fontSize: 14
                                }
                            }
                        },
                        data: [{
                            coord: {{metric_name}}_{{type}}_myRegression.points[{{metric_name}}_{{type}}_myRegression.points.length - 1]
                        }]
                    }
            }]
        };

        {{metric_name}}_{{type}}_chart.setOption({{metric_name}}_{{type}}_option);
    {% endfor %}
    {% endfor %}

    $( function() {
        var module_list = {{modules | tojson }};
        $( "#module_search" ).autocomplete({
        source: module_list
        }); 
    } );
    </script>
</body>
</html>